{% extends 'admin/base_admin.html' %}
{% block content %}
	<div class="card-body rounded">
		<a class="btn btn-primary mb-2" href="#"><i class="fa fa-plus-circle"></i> Cadasrar</a>
		<table class="table table-bordered table-hover rounded" id="dataTable" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th></th>
					<th></th>
					{% for column  in columns.values() %}
						<th scope="col">{{ column }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td><a class="fa fa-trash" href="{{ item.id }}"></a></td>
						<td><a class="fa fa-pen" href="{{ item.id }}"></a></td>	
						{% for column in columns %}
							
							{% if item[column] is float %}
								<td>{{ "R$ "+item[column] | string | replace('.',',' ) }}</th>
							{% else %}
								<td>{{ item[column] }}</th>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}