{% extends 'admin/base_admin.html' %}
{% block content %}
	<div class="card-body rounded">
		<table class="table table-bordered table-hover rounded" id="dataTable" width="100%" cellspacing="0">
			<thead class="bg-primary text-light">
				<tr>
					{% for column  in columns.values() %}
						<th scope="col">{{ column }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						{% for column in columns %}
							<td>{{ item[column] }}</th>
						{% endfor %}
						<td><a class="fa fa-trash" href="{{ item.id }}"></a></td>
						<td><a class="fa fa-pen" href="{{ item.id }}"></a></td>	
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}